/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
body {
    background-color: #24292e;
    font-family: 'Quicksand', sans-serif;
    color: wheat;
}

.dropdown-toggle {
    color: whitesmoke
}



/* .parent {
    display: flex;
    flex-direction: row;
} */

/* .page-body {
    display: flex;
    flex-direction: column;
} */

